@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
    --font-fatface: "Abril Fatface", sans-seriff;
    --font-roboto: "Roboto Mono", monospace;

    --color-site-bg: #33333a;
    --color-site-accent: #2c2c33;
    --color-site-lite: #393942;
}

body {
    background: var(--color-site-bg);
    color: white;
}